<div class="flex-container">
    
  <header class="header flex-item" >
    <div class="header-content flex-item--content"><barco-header></barco-header></div>
  </header>
   
  <main class="main flex-item">
    <aside class="nav-left flex-item--content"> <barco-left-sidebar></barco-left-sidebar> </aside>
    <div class="main-content flex-item--content"> <barco-main></barco-main></div>
    <aside class="nav-right flex-item--content"> <barco-right-sidebar></barco-right-sidebar></aside>
  </main>
    
  <footer class="footer flex-item">
    <div class="footer-content flex-item--content"> <barco-footer></barco-footer> </div>
  </footer>
</div>

